In [9]:
import pandas as pd
import numpy as np
data = pd.read_csv('foods.csv')
print(data)

         Food   Category  Price  Quantity      Place  Customer  Rating
0      Shorva  Fast Food  11069         1    Andijon  Gulbahor       2
1         Non  Fast Food  36845         2       Xiva  Gulbahor       5
2    Shashlik  Fast Food  42216         4   Toshkent     Hasan       4
3    Shashlik     Milliy  48152         1   Toshkent    Malika       2
4         Non   Ichimlik  42391         5   Namangan  Gulbahor       4
5      Shorva   Ichimlik  15967         3   Toshkent     Hasan       5
6        Qazi   Ichimlik  26865         4       Xiva     Aziza       2
7         Non  Fast Food  21831         1       Xiva  Gulbahor       2
8       Somsa     Milliy  21292         3  Samarqand     Husan       3
9         Osh  Fast Food  20956         1  Samarqand     Hasan       2
10       Qazi  Fast Food  20607         3   Farg'ona   Dilshod       5
11       Qazi   Ichimlik  28505         5  Samarqand   Dilshod       3
12        Non  Shirinlik  36491         3       Xiva       Ali       2
13   Shashlik     Milliy  27625         5   Toshkent    Malika       2
14    Lag'mon  Shirinlik  19228         2   Namangan   Dilshod       1
15    Lag'mon   Ichimlik  44653         1       Xiva     Husan       5
16       Qazi   Ichimlik  32019         1       Xiva       Ali       3
17     Shorva   Ichimlik  42035         5   Namangan    Malika       2
18        Osh  Shirinlik   8233         4     Buxoro     Husan       2
19        Osh     Milliy  37442         4   Namangan      Vali       5
20  Chuchvara   Ichimlik  35198         3     Buxoro      Vali       5
21      Somsa  Fast Food  46657         2     Buxoro  Gulbahor       5
22       Choy   Ichimlik  43044         2  Samarqand     Hasan       3
23        Non   Ichimlik  46761         1     Buxoro    Malika       5
24      Somsa     Milliy  18655         5   Namangan    Malika       3
25       Choy     Milliy  31928         1     Buxoro    Malika       2
26       Qazi  Shirinlik  25370         3  Samarqand  Gulbahor       5
27        Non  Shirinlik   8936         1     Buxoro     Hasan       4
28     Shorva   Ichimlik  44066         1   Farg'ona  Gulbahor       1
29     Shorva     Milliy  20172         3   Toshkent  Gulbahor       2
30        Non  Shirinlik  14811         5   Namangan     Husan       4
31    Lag'mon   Ichimlik  26960         3   Farg'ona      Vali       1
32      Manti  Shirinlik  32983         1  Samarqand     Aziza       4
33      Manti  Fast Food  14603         2       Xiva      Vali       3
34   Shashlik   Ichimlik  16477         5   Toshkent    Malika       5
35        Non  Shirinlik  18652         4   Toshkent    Malika       1
36   Shashlik  Shirinlik  49943         4   Farg'ona     Aziza       3
37      Manti   Ichimlik  19089         3   Namangan  Gulbahor       2
38       Qazi   Ichimlik  37581         4    Andijon  Gulbahor       3
39      Manti  Fast Food  22404         5  Samarqand       Ali       1
40        Osh  Fast Food  20733         4  Samarqand     Hasan       3
41     Shorva   Ichimlik  38943         2     Buxoro   Dilshod       3
42       Qazi     Milliy  35873         5   Farg'ona     Hasan       5
43        Osh   Ichimlik  19619         4   Toshkent   Dilshod       4
44     Shorva  Shirinlik  14988         3       Xiva    Malika       1
45   Shashlik     Milliy  22808         3  Samarqand     Husan       3
46      Somsa   Ichimlik  32205         1   Namangan   Dilshod       3
47       Qazi     Milliy  17214         5     Buxoro      Vali       1
48      Somsa  Shirinlik  25418         4   Namangan     Hasan       3
49      Somsa  Fast Food  16773         4   Toshkent      Vali       3

In [10]:
print(data['Price'])
print(max(data['Price']))

0     11069
1     36845
2     42216
3     48152
4     42391
5     15967
6     26865
7     21831
8     21292
9     20956
10    20607
11    28505
12    36491
13    27625
14    19228
15    44653
16    32019
17    42035
18     8233
19    37442
20    35198
21    46657
22    43044
23    46761
24    18655
25    31928
26    25370
27     8936
28    44066
29    20172
30    14811
31    26960
32    32983
33    14603
34    16477
35    18652
36    49943
37    19089
38    37581
39    22404
40    20733
41    38943
42    35873
43    19619
44    14988
45    22808
46    32205
47    17214
48    25418
49    16773
Name: Price, dtype: int64
49943

In [22]:
print(data['Price'])
print(data['Food'])
df =pd.DataFrame(data)
print(df)

0     11069
1     36845
2     42216
3     48152
4     42391
5     15967
6     26865
7     21831
8     21292
9     20956
10    20607
11    28505
12    36491
13    27625
14    19228
15    44653
16    32019
17    42035
18     8233
19    37442
20    35198
21    46657
22    43044
23    46761
24    18655
25    31928
26    25370
27     8936
28    44066
29    20172
30    14811
31    26960
32    32983
33    14603
34    16477
35    18652
36    49943
37    19089
38    37581
39    22404
40    20733
41    38943
42    35873
43    19619
44    14988
45    22808
46    32205
47    17214
48    25418
49    16773
Name: Price, dtype: int64
0        Shorva
1           Non
2      Shashlik
3      Shashlik
4           Non
5        Shorva
6          Qazi
7           Non
8         Somsa
9           Osh
10         Qazi
11         Qazi
12          Non
13     Shashlik
14      Lag'mon
15      Lag'mon
16         Qazi
17       Shorva
18          Osh
19          Osh
20    Chuchvara
21        Somsa
22         Choy
23          Non
24        Somsa
25         Choy
26         Qazi
27          Non
28       Shorva
29       Shorva
30          Non
31      Lag'mon
32        Manti
33        Manti
34     Shashlik
35          Non
36     Shashlik
37        Manti
38         Qazi
39        Manti
40          Osh
41       Shorva
42         Qazi
43          Osh
44       Shorva
45     Shashlik
46        Somsa
47         Qazi
48        Somsa
49        Somsa
Name: Food, dtype: object
         Food   Category  Price  Quantity      Place  Customer  Rating
0      Shorva  Fast Food  11069         1    Andijon  Gulbahor       2
1         Non  Fast Food  36845         2       Xiva  Gulbahor       5
2    Shashlik  Fast Food  42216         4   Toshkent     Hasan       4
3    Shashlik     Milliy  48152         1   Toshkent    Malika       2
4         Non   Ichimlik  42391         5   Namangan  Gulbahor       4
5      Shorva   Ichimlik  15967         3   Toshkent     Hasan       5
6        Qazi   Ichimlik  26865         4       Xiva     Aziza       2
7         Non  Fast Food  21831         1       Xiva  Gulbahor       2
8       Somsa     Milliy  21292         3  Samarqand     Husan       3
9         Osh  Fast Food  20956         1  Samarqand     Hasan       2
10       Qazi  Fast Food  20607         3   Farg'ona   Dilshod       5
11       Qazi   Ichimlik  28505         5  Samarqand   Dilshod       3
12        Non  Shirinlik  36491         3       Xiva       Ali       2
13   Shashlik     Milliy  27625         5   Toshkent    Malika       2
14    Lag'mon  Shirinlik  19228         2   Namangan   Dilshod       1
15    Lag'mon   Ichimlik  44653         1       Xiva     Husan       5
16       Qazi   Ichimlik  32019         1       Xiva       Ali       3
17     Shorva   Ichimlik  42035         5   Namangan    Malika       2
18        Osh  Shirinlik   8233         4     Buxoro     Husan       2
19        Osh     Milliy  37442         4   Namangan      Vali       5
20  Chuchvara   Ichimlik  35198         3     Buxoro      Vali       5
21      Somsa  Fast Food  46657         2     Buxoro  Gulbahor       5
22       Choy   Ichimlik  43044         2  Samarqand     Hasan       3
23        Non   Ichimlik  46761         1     Buxoro    Malika       5
24      Somsa     Milliy  18655         5   Namangan    Malika       3
25       Choy     Milliy  31928         1     Buxoro    Malika       2
26       Qazi  Shirinlik  25370         3  Samarqand  Gulbahor       5
27        Non  Shirinlik   8936         1     Buxoro     Hasan       4
28     Shorva   Ichimlik  44066         1   Farg'ona  Gulbahor       1
29     Shorva     Milliy  20172         3   Toshkent  Gulbahor       2
30        Non  Shirinlik  14811         5   Namangan     Husan       4
31    Lag'mon   Ichimlik  26960         3   Farg'ona      Vali       1
32      Manti  Shirinlik  32983         1  Samarqand     Aziza       4
33      Manti  Fast Food  14603         2       Xiva      Vali       3
34   Shashlik   Ichimlik  16477         5   Toshkent    Malika       5
35        Non  Shirinlik  18652         4   Toshkent    Malika       1
36   Shashlik  Shirinlik  49943         4   Farg'ona     Aziza       3
37      Manti   Ichimlik  19089         3   Namangan  Gulbahor       2
38       Qazi   Ichimlik  37581         4    Andijon  Gulbahor       3
39      Manti  Fast Food  22404         5  Samarqand       Ali       1
40        Osh  Fast Food  20733         4  Samarqand     Hasan       3
41     Shorva   Ichimlik  38943         2     Buxoro   Dilshod       3
42       Qazi     Milliy  35873         5   Farg'ona     Hasan       5
43        Osh   Ichimlik  19619         4   Toshkent   Dilshod       4
44     Shorva  Shirinlik  14988         3       Xiva    Malika       1
45   Shashlik     Milliy  22808         3  Samarqand     Husan       3
46      Somsa   Ichimlik  32205         1   Namangan   Dilshod       3
47       Qazi     Milliy  17214         5     Buxoro      Vali       1
48      Somsa  Shirinlik  25418         4   Namangan     Hasan       3
49      Somsa  Fast Food  16773         4   Toshkent      Vali       3

In [25]:
filtered = data.query('Price > 30000')
filtered

         Food   Category  Price  Quantity      Place  Customer  Rating
1         Non  Fast Food  36845         2       Xiva  Gulbahor       5
2    Shashlik  Fast Food  42216         4   Toshkent     Hasan       4
3    Shashlik     Milliy  48152         1   Toshkent    Malika       2
4         Non   Ichimlik  42391         5   Namangan  Gulbahor       4
12        Non  Shirinlik  36491         3       Xiva       Ali       2
15    Lag'mon   Ichimlik  44653         1       Xiva     Husan       5
16       Qazi   Ichimlik  32019         1       Xiva       Ali       3
17     Shorva   Ichimlik  42035         5   Namangan    Malika       2
19        Osh     Milliy  37442         4   Namangan      Vali       5
20  Chuchvara   Ichimlik  35198         3     Buxoro      Vali       5
21      Somsa  Fast Food  46657         2     Buxoro  Gulbahor       5
22       Choy   Ichimlik  43044         2  Samarqand     Hasan       3
23        Non   Ichimlik  46761         1     Buxoro    Malika       5
25       Choy     Milliy  31928         1     Buxoro    Malika       2
28     Shorva   Ichimlik  44066         1   Farg'ona  Gulbahor       1
32      Manti  Shirinlik  32983         1  Samarqand     Aziza       4
36   Shashlik  Shirinlik  49943         4   Farg'ona     Aziza       3
38       Qazi   Ichimlik  37581         4    Andijon  Gulbahor       3
41     Shorva   Ichimlik  38943         2     Buxoro   Dilshod       3
42       Qazi     Milliy  35873         5   Farg'ona     Hasan       5
46      Somsa   Ichimlik  32205         1   Namangan   Dilshod       3

In [28]:
filtered= data.query('Rating >=4 ')
filtered

         Food   Category  Price  Quantity      Place  Customer  Rating
1         Non  Fast Food  36845         2       Xiva  Gulbahor       5
2    Shashlik  Fast Food  42216         4   Toshkent     Hasan       4
4         Non   Ichimlik  42391         5   Namangan  Gulbahor       4
5      Shorva   Ichimlik  15967         3   Toshkent     Hasan       5
10       Qazi  Fast Food  20607         3   Farg'ona   Dilshod       5
15    Lag'mon   Ichimlik  44653         1       Xiva     Husan       5
19        Osh     Milliy  37442         4   Namangan      Vali       5
20  Chuchvara   Ichimlik  35198         3     Buxoro      Vali       5
21      Somsa  Fast Food  46657         2     Buxoro  Gulbahor       5
23        Non   Ichimlik  46761         1     Buxoro    Malika       5
26       Qazi  Shirinlik  25370         3  Samarqand  Gulbahor       5
27        Non  Shirinlik   8936         1     Buxoro     Hasan       4
30        Non  Shirinlik  14811         5   Namangan     Husan       4
32      Manti  Shirinlik  32983         1  Samarqand     Aziza       4
34   Shashlik   Ichimlik  16477         5   Toshkent    Malika       5
42       Qazi     Milliy  35873         5   Farg'ona     Hasan       5
43        Osh   Ichimlik  19619         4   Toshkent   Dilshod       4

In [42]:
avr= data['Price'].mean()
avr

np.float64(28065.72)

In [54]:
overall = data.groupby('Place').size().sum()
overall

np.int64(50)

In [68]:
data['Total'] = data['Price'] * data['Quantity']
total_by_customer = data.groupby('Customer')['Total'].sum()
total_by_customer

Customer
Ali         253512
Aziza       340215
Dilshod     431369
Gulbahor    800142
Hasan       696714
Husan       283940
Malika      770373
Vali        518610
Name: Total, dtype: int64

In [80]:
pivot = pd.pivot_table(data, values='Quantity', index=['Place'], columns='Category')
pivot

Category   Fast Food  Ichimlik  Milliy  Shirinlik
Place
Andijon     1.000000       4.0     NaN        NaN
Buxoro      2.000000       2.0     3.0   2.500000
Farg'ona    3.000000       2.0     5.0   4.000000
Namangan         NaN       3.5     4.5   3.666667
Samarqand   3.333333       3.5     3.0   2.000000
Toshkent    4.000000       4.0     3.0   4.000000
Xiva        1.666667       2.0     NaN   3.000000

In [93]:
pivot1 = pd.pivot_table(
    data,
    values='Price',
    index=['Customer'],
    columns=['Food', 'Rating'],
    aggfunc='sum',
    fill_value=0
)

pivot1

Food       Choy        Chuchvara Lag'mon         Manti                       \
Rating        2      3         5       1      5      1      2      3      4
Customer
Ali           0      0         0       0      0  22404      0      0      0
Aziza         0      0         0       0      0      0      0      0  32983
Dilshod       0      0         0   19228      0      0      0      0      0
Gulbahor      0      0         0       0      0      0  19089      0      0
Hasan         0  43044         0       0      0      0      0      0      0
Husan         0      0         0       0  44653      0      0      0      0
Malika    31928      0         0       0      0      0      0      0      0
Vali          0      0     35198   26960      0      0      0  14603      0

Food        Non  ... Shashlik                      Shorva                \
Rating        1  ...        2      3      4      5      1      2      3
Customer         ...
Ali           0  ...        0      0      0      0      0      0      0
Aziza         0  ...        0  49943      0      0      0      0      0
Dilshod       0  ...        0      0      0      0      0      0  38943
Gulbahor      0  ...        0      0      0      0  44066  31241      0
Hasan         0  ...        0      0  42216      0      0      0      0
Husan         0  ...        0  22808      0      0      0      0      0
Malika    18652  ...    75777      0      0  16477  14988  42035      0
Vali          0  ...        0      0      0      0      0      0      0

Food             Somsa
Rating        5      3      5
Customer
Ali           0      0      0
Aziza         0      0      0
Dilshod       0  32205      0
Gulbahor      0      0  46657
Hasan     15967  25418      0
Husan         0  21292      0
Malika        0  18655      0
Vali          0  16773      0

[8 rows x 31 columns]

In [95]:

new = data.apply(lambda row: row['Price'] * row['Quantity'], axis=1)
new

0      11069
1      73690
2     168864
3      48152
4     211955
5      47901
6     107460
7      21831
8      63876
9      20956
10     61821
11    142525
12    109473
13    138125
14     38456
15     44653
16     32019
17    210175
18     32932
19    149768
20    105594
21     93314
22     86088
23     46761
24     93275
25     31928
26     76110
27      8936
28     44066
29     60516
30     74055
31     80880
32     32983
33     29206
34     82385
35     74608
36    199772
37     57267
38    150324
39    112020
40     82932
41     77886
42    179365
43     78476
44     44964
45     68424
46     32205
47     86070
48    101672
49     67092
dtype: int64

In [116]:
def assign_grade(Rating):
    if Rating == 5:
        return 'Excellent'
    elif 3 <= Rating < 5:
        return 'Good'
    else:
        return 'Bad'
data['Grade'] = data['Rating'].apply(assign_grade)
data[['Customer', 'Rating', 'Grade']]

    Customer  Rating      Grade
0   Gulbahor       2        Bad
1   Gulbahor       5  Excellent
2      Hasan       4       Good
3     Malika       2        Bad
4   Gulbahor       4       Good
5      Hasan       5  Excellent
6      Aziza       2        Bad
7   Gulbahor       2        Bad
8      Husan       3       Good
9      Hasan       2        Bad
10   Dilshod       5  Excellent
11   Dilshod       3       Good
12       Ali       2        Bad
13    Malika       2        Bad
14   Dilshod       1        Bad
15     Husan       5  Excellent
16       Ali       3       Good
17    Malika       2        Bad
18     Husan       2        Bad
19      Vali       5  Excellent
20      Vali       5  Excellent
21  Gulbahor       5  Excellent
22     Hasan       3       Good
23    Malika       5  Excellent
24    Malika       3       Good
25    Malika       2        Bad
26  Gulbahor       5  Excellent
27     Hasan       4       Good
28  Gulbahor       1        Bad
29  Gulbahor       2        Bad
30     Husan       4       Good
31      Vali       1        Bad
32     Aziza       4       Good
33      Vali       3       Good
34    Malika       5  Excellent
35    Malika       1        Bad
36     Aziza       3       Good
37  Gulbahor       2        Bad
38  Gulbahor       3       Good
39       Ali       1        Bad
40     Hasan       3       Good
41   Dilshod       3       Good
42     Hasan       5  Excellent
43   Dilshod       4       Good
44    Malika       1        Bad
45     Husan       3       Good
46   Dilshod       3       Good
47      Vali       1        Bad
48     Hasan       3       Good
49      Vali       3       Good